name: Build docker image

on:
  push:
    branches:
    - master

    tags:
    - '*'

env:
  REDIS84: '8.4.1'
  REDIS82: '8.2.3'
  REDIS80: '8.0.5'
  REDIS74: '7.4.7'

jobs:
  setup:
    runs-on: ubuntu-latest
    outputs:
      redis-versions: ${{ steps.set-matrix.outputs.redis-versions }}
    steps:
      - id: set-matrix
        run: |
          cat << 'EOF' > versions.json
          [
            {"key": "redis84", "version": "${{ env.REDIS84 }}", "latest": "1", "latest_major": "1"},
            {"key": "redis82", "version": "${{ env.REDIS82 }}", "latest": "", "latest_major": ""},
            {"key": "redis80", "version": "${{ env.REDIS80 }}", "latest": "", "latest_major": ""},
            {"key": "redis74", "version": "${{ env.REDIS74 }}", "latest": "", "latest_major": "1"}
          ]
          EOF
          echo "redis-versions=$(cat versions.json | jq -c .)" >> $GITHUB_OUTPUT

  build:
    needs: setup
    strategy:
      matrix:
        redis: ${{ fromJson(needs.setup.outputs.redis-versions) }}
        arch:
          - amd64
          - arm64
        include:
          - arch: amd64
            runner: ubuntu-24.04
          - arch: arm64
            runner: ubuntu-24.04-arm
    runs-on: ${{ matrix.runner }}
    steps:
      - uses: actions/checkout@v6
      - uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      - name: build and push
        env:
          REDIS_VER: ${{ matrix.redis.version }}
          ARCH: ${{ matrix.arch }}
        run: |
          make
          make test
          make push

  push:
    runs-on: ubuntu-latest
    needs:
      - setup
      - build
    strategy:
      matrix:
        redis: ${{ fromJson(needs.setup.outputs.redis-versions) }}
    steps:
      - uses: actions/checkout@v6
      - uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      - uses: ./.github/actions
        with:
          version: ${{ matrix.redis.version }}
          latest: ${{ matrix.redis.latest }}
          latest_major: ${{ matrix.redis.latest_major }}
